body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    color: #283136;
    background-color: #ffffff;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    
    color: #000000;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
    
    /*width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;*/
}

.container {
    display: block;

    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*header start*/
.main-header {
	background-color: #eeeeee;
    margin-bottom: 440px;
}

.main-navigation {
    position: relative;
    top: 49px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
	margin: 0;
}

.main-logo img:hover,
.main-logo img:focus {
	opacity: 0.8;
}

.main-logo img:active {
	opacity: 0.2;
}

.main-navigation-left,
.main-navigation-right {
	padding-top: 10px;
}

.main-navigation-left {
    width: 482px;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #f87f81;
}

.site-navigation a:active,
.user-navigation a:active {
	color: #000000;
    opacity: 0.3;
}

.site-navigation {
    display: flex;
    padding: 0;
}

.site-navigation li {
    margin-right: 46px;
}

.site-navigation a,
.user-navigation a {
    line-height: 30px;
    font-weight: 500;
    
    color: #000000;
}

li.basket-link {
    position: relative;
}

li.basket-link::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -42px;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}

p.promo-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    
    color: #000000;
}

.button {
	text-transform: uppercase;
    padding: 16px 54px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #fb565a;
    border: 0;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgb(228, 122, 125);
}

/*header end*/

/*slider start*/
.slider {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

.slides {
    min-height: 545px;
    background: #eeeeee;
}

.inner {
    width: 303%;
    min-height: 545px;
}

.inner:after {
	content:'';
	display: block;
	height: 0;
	clear:both;
}

.page {
    float: left;
    width: 33%;
    min-height: 445px;
    padding-top: 100px;
    
    background-repeat: no-repeat;
    background-position: 570px 132px;
}

.page p,
.page a {
    margin-left: 140px;
}

.page p {
    width: 520px;
    margin-bottom: 0;
    margin-top: 0;
}

p.promo-title {
    margin-top: 92px;
    margin-bottom: 26px;
}

p.promo-description {
    margin-bottom: 40px;
}

p.promo-description b {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    color: #283136;
}

.page a {
    display: block;
    margin-bottom: 81px;
    width: 240px;
    padding: 12px 54px;
    padding-top: 13px;
}

.page-one {
    background-image: url("../img/slide1.png");
}

.page-two {
    background-image: url("../img/slide2.png");
}

.page-three {
    background-image: url("../img/slide3.png");
}

.overflow {
    overflow: hidden;
}

.slider input {
    display: none;
}

#slide1:checked ~ .slides .inner {
    margin-left:0;
}

#slide2:checked ~ .slides .inner {
    margin-left:-100%;
}

#slide3:checked ~ .slides .inner {
    margin-left:-200%;
}
/*точки для перелистывания*/

.active {
    text-align: center;
    margin-top: -115px;
    margin-left: 15px;
}

.active label {
    width: 18px;
    height:18px;
    margin-right: 10px;
    background: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
}

.active label:hover {
    background: #999;
}

#slide1:checked ~ .active label:nth-child(1),
#slide2:checked ~ .active label:nth-child(2),
#slide3:checked ~ .active label:nth-child(3) {
    background: #333;
}

.slides .inner {
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}
/*slider end*/

/*main start*/
/*services start*/
.services {
    padding-top: 112px;
    padding-bottom: 78px;
    border-bottom: 2px solid #eeeeee;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 1100px;
    padding: 0;
    
    list-style: none;
}

h3.service-title {
    padding-top: 147px;
    margin-bottom: 17px;
    
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    
    text-transform: uppercase;
    color: #000000;
}

p.service-description {
    padding-right: 25px;
    margin-bottom: 32px;
}

.button-services {
    padding: 16px 40px;
    padding-top: 17px;
}

.services-item:first-of-type .button {
    background-color: #fb565a;
}

.services-item:first-of-type .button:hover,
.services-item:first-of-type .button:focus {
    background-color: #e74246;
}

.services-item:first-of-type .button:active {
    color: rgb(228, 122, 125);
    box-shadow: inset 0px 4px 1px 0px #c13135;
}

.services-item:nth-of-type(2) .button {
    background-color: #00ca74;
}

.services-item:nth-of-type(2) .button:hover,
.services-item:nth-of-type(2) .button:focus {
    background-color: #00bc6c;
}

.services-item:nth-of-type(2) .button:active {
    color: rgb(77, 196, 145);
    box-shadow: inset 0px 4px 1px 0px #009958;
}

.services-item:last-of-type .button {
    background-color: #efc84a;
}

.services-item:last-of-type .button:hover,
.services-item:last-of-type .button:focus {
    background-color: #eab534;
}

.services-item:last-of-type .button:active {
    color: rgb(237, 194, 101);
    box-shadow: inset 0px 4px 1px 0px #ce961f;
}

.services-item {
    width: 300px;
    min-height: 350px;
}

.services-web-sites {
    background-image: url("../img/illustration-1.png");
    background-repeat: no-repeat;
}

.services-app {
    background-image: url("../img/illustration-2.png");
    background-repeat: no-repeat;
}

.services-presentation {
    background-image: url("../img/illustration-3.png");
    background-repeat: no-repeat;
}
/*services end*/

/*about-us start*/
.about-us {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 58px;
    border-bottom: 2px solid #eeeeee;
}

.about-us-left {
    width: 680px;
    padding-top: 12px;
    padding-left: 2px;
}

h2.about-us-title {
    margin-bottom: 35px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    
    color: #000000;
}

.about-us-left span {
    display: block;
    margin-bottom: 38px;
}

h3.development-title {
    font-size: 16px;
    margin-bottom: 23px;

    text-transform: uppercase;
    color: #000000;
}

.about-us ul.development {
    padding-left: 34px;

    list-style: none;
}

ul.development li {
    position: relative;
}

ul.development li:not(:last-of-type) {
    margin-bottom: 24px;
}

ul.development li::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 10px;
    width: 25px;
    height: 2px;
    background-image: url("../img/list-style.jpg");
}

.about-us-right p:first-of-type {
    text-align: right;
    margin-bottom: 28px;
}

.about-us-right p:last-of-type {
    text-align: center;
    padding-left: 3px;
    margin-bottom: 39px;
}

p.table-title {
    font-weight: 700;
    
    color: #000000;
    text-transform: uppercase;
}

.about-us-table {
    min-width: 358px;
    border-collapse: collapse;
}

.about-us-table tr, td {
    color: #000000;
}

.about-us-table td {
    width: 120px;
}

.about-us-table tr.first-row {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

tr.first-row td {
    padding: 2px 0px;
}

.about-us-table tr.second-row {
    line-height: 18px;
    color: #283136;
}

tr.second-row td {
    padding-top: 18px;
    padding-bottom: 10px;
}

.about-us-table span.percent {
    font-size: 27px;
    vertical-align: 15px;
    line-height: 27px;
    margin-left: -12px;
}
/*about-us end*/

/*clients start*/
.clients-list {
    display: flex;
    justify-content: space-around;

    padding-top: 45px;
    padding-bottom: 36px;
    padding-left: 0px;
    list-style: none;
    border-bottom: 2px solid #eeeeee;
}

li.img-academy {
    margin-left: -23px;
}

li.img-barbershop {
    margin-top: -16px;
    margin-left: -12px;
    margin-right: 2px;
}

li.img-pink {
    margin-left: -6px;
    margin-top: 4px;
    margin-right: 14px;
}

li.img-mishka {
    margin-right: -12px;
    margin-top: -10px;
}

.clients-list img {
    opacity: 0.2;
}

.clients-list img:hover,
.clients-list img:focus {
    opacity: 1;
}

.clients-list img:active {
    opacity: 0.1;
}
/*clients end*/
/*main end*/

/*footer start*/
/*contacts start*/
.contacts {
    position: relative;
    top: 65px;
}

.contacts iframe {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.contacts .map-image {
    width: 1440px;
    margin: 0 auto;
}

.contact-information {
    position: absolute;
    top: 55px;
    left: 141px;
    z-index: 20;
    width: 320px;
    padding: 48px 49px 48px 50px;

    border-radius: 2px;
    background-color: #ffffff;
}

.contact-information .company-name {
    margin: 0;
    margin-left: -2px;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    
    text-transform: uppercase;
}

.contact-information p:not(:first-of-type) {
    width: 205px;
	line-height: 18px;
    color: #666666;
}

.contact-information .company-tel {
    margin-top: 18px;
    margin-bottom: 50px;
}

.contact-information .button-feedback-form {
    padding: 15px 45px 15px 43px;
}
/*contacts end*/


/*footer-social start*/
.footer-social {
    display: flex;
    align-items: center;
    padding-top: 111px;
    padding-bottom: 70px;
}

.social-list {
    display: flex;
    margin-right: 131px;
    padding: 0px;

    list-style: none;
}

.social-list li {
    margin-right: 10px;
}

.social-list a {
    display: inline-block;

    width: 80px;
    height: 80px;
    padding-top: 30px;
    
    text-align: center;
    background-color: #666666;
    border-radius: 50%;
    opacity: 0.2;
    
    transition-property: background-color;
    transition-duration: 0.5s;
}

.social-list a:hover,
.social-list a:focus {
    background-color: #e74246;
    opacity: 1;
}

.social-list a:active {
    background-color: #d7373b;
    box-shadow: inset 0px 4px 1px 0px #c13135;
}

.social-list a:active svg {
    opacity: 0.3;
}

.footer-offer b {
    display: block;
}

.footer-offer b.call {
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;

    color: #000000;
}

.footer-offer b:not(:first-of-type) {
    font-size: 16px;
    line-height: 22px;
}
/*footer-social end*/
/*footer end*/

/*modal-feedback start*/
.modal-feedback {
    display: none;
    position: absolute;
    z-index: 100;
    top: 1705px;
    left: 240px;
    width: 960px;
    margin: 0 auto;
    padding: 68px 60px 83px 99px;
    margin-bottom: 100px;

    background-color: #ffffff;
    box-shadow: 0px 20px 80px -10px #000000;
}

.modal-feedback h2 {
    margin: 0;
    margin-bottom: 22px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
}

.feedback-form label {
    display: block;
    margin-top: 3px;
    margin-bottom: 8px;

    line-height: 18px;
    font-weight: 700;
}

.feedback-form input,
.feedback-form textarea {
    padding: 14px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.feedback-form-item:not(:last-of-type) {
    width: 360px;
    margin-right: 40px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"]{
    width: 360px;
}

.feedback-form-item:last-of-type {
    width: 800px;
    margin-bottom: 42px;
}

.feedback-form-item:last-of-type label {
    margin-top: 3px;
    padding-left: 1px;
    margin-bottom: 8px;
}

.feedback-form textarea {
    width: 760px;
    height: 118px;
}

.feedback-form input,
.feedback-form textarea {
    border: 2px solid #d7dcde;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border: 2px solid #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    border: 2px solid #000000;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

.modal-feedback button.button {
    padding: 16px 84px;
}

.modal-feedback button.modal-close {
    position: absolute;
    top: 80px;
    left: 850px;

    width: 20px;
    height: 20px;
    
    background-color: transparent;
    border: none;
    
    cursor: pointer;
}

button.modal-close::before,
button.modal-close::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: -2px;
    
    width: 24px;
    height: 3px;
    
    background-color: rgba(251, 86, 90, 0.3);
}

button.modal-close::before {
    transform: rotate(45deg);
}

button.modal-close::after {
    transform: rotate(-45deg);
}

button.modal-close:hover::before,
button.modal-close:focus::before,
button.modal-close:hover::after,
button.modal-close:focus::after {
    background-color: rgba(251, 86, 90, 1);
}

button.modal-close:active::before,
button.modal-close:active::after {
    background-color: rgba(251, 86, 90, 0.1);
}
/*modal-feedback end*/

/*----------inner page styles----------*/
/*header start*/
li.site-navigation-current a {
    border-bottom: 2px solid #fb565a;
}

.main-navigation a {
    padding-bottom: 9px;
}

.main-header-inner {
    margin-bottom: 0;
}

.main-header-inner h1 {
    margin-bottom: 0px;
    margin-left: -2px;
    padding-bottom: 108px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    
    color: #000000;
    text-align: center;
}

.main-header-inner .main-navigation {
	margin-bottom: 120px;
}
/*header end*/


/*main start*/
.main-inner-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

/*filters start*/
.filters fieldset {
    margin-left: 0px;
	border: none;
    padding: 0;
}

.filter-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

legend {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    
    color: #000000;
    text-transform: uppercase;
}

fieldset:first-of-type legend {
    margin-bottom: 0;
}

fieldset:nth-of-type(2) legend {
    margin-bottom: 16px;
}

fieldset:nth-of-type(2) {
    margin-bottom: 45px;
}

fieldset:last-of-type legend {
    margin-bottom: 16px;
}

fieldset:last-of-type {
    margin-bottom: 46px;
}

.filters-form fieldset:first-of-type {
    margin-bottom: 56px;
}

fieldset {
    margin-bottom: 40px;
}

fieldset:not(:first-of-type) label {
    padding-left: 35px;

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

fieldset li:not(:last-of-type) {
    margin-bottom: 20px;
}

/*filter-range start*/
fieldset.filter-item {
    margin: 0;
    padding: 0;
}

.filter-range {
    width: 260px;
    margin-top: 48px;
}

.filter-range label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.range-controls {
    position: relative;

    height: 80px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 21px;
    height: 21px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 80px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}
/*filter-range end*/

/*radio start*/
.filter-input-radio + label {
    position: relative;
    
    display: block;
    cursor: pointer;
    color: #283136;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

.filter-input-radio:checked + label::after {
	content: "";

    position: absolute;
    z-index: 10;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;
    
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
}

.filter-input-radio + label {
    color: #000000;
}

.filter-input-radio + label::before,
.filter-input-radio + label::after {
    opacity: 0.4;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:hover::after {
    opacity: 1;
}

.filter-input-radio:disabled + label {
    color: #283136;
    opacity: 0.3;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after {
    opacity: 0.1;
}

.filter-input-radio:checked + label::before,
.filter-input-radio:checked + label::after {
    opacity: 0.4;
}

.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::before,
.filter-input-radio:checked + label:focus::after {
    opacity: 1;
}
/*radio end*/

/*checkbox start*/
.filter-input-checkbox + label {
    position: relative;
    
    display: block;
    cursor: pointer;
}

.filter-input-checkbox + label::before {
	content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;
    
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
	content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;
    
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox + label {
    color: #000000;
}

.filter-input-checkbox + label::before,
.filter-input-checkbox + label::after {
    opacity: 0.4;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:hover::after {
    opacity: 1;
}

.filter-input-checkbox:disabled + label {
    color: #283136;
    opacity: 0.3;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
    opacity: 0.1;
}

.filter-input-checkbox:checked + label::before,
.filter-input-checkbox:checked + label::after {
    opacity: 0.4;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::before,
.filter-input-checkbox:checked + label:focus::after {
    opacity: 1;
}
/*checkbox end*/

button.filter-button {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button.filter-button:hover,
button.filter-button:focus {
    background-color: #dfdfdf;
}

button.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}
/*filters end*/

/*block-of-templates start*/
.block-of-templates {
    width: 760px;
    margin-bottom: 35px;
}

/*sorting start*/
.sorting span {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;

    text-transform: uppercase;
}

.sorting {
	display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sorting .list-by {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.list-by a {
	font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    color: #000000;
    opacity: 0.3;
}

.list-by a:hover,
.list-by a:focus {
    opacity: 0.6;
}

.list-by a:active {
    opacity: 1;
}

.list-by a.active-list-by {
    color: #000000;
    opacity: 1;
}

.list-by li:not(:last-of-type) {
    margin-right: 25px;
}

.list-by .sorting-down {
	background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: center;
	border: none;
	display: inline-block;
	height: 20px;
	width: 20px;
    opacity: 1;
}

.list-by .sorting-up {
	background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: center;
	border: none;
	display: inline-block;
	height: 20px;
	width: 20px;
}
/*sorting end*/

/*catalog-templates start*/
.catalog-templates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 760px;
}

.templates {
    position: relative;

    min-height: 649px;
}

.templates-hover {
    display: none;
    position: absolute;
    top: 386px;
    z-index: 10;
    width: 360px;
    padding: 9px 78px;
    min-height: 230px;
    text-align: center;
    
    background-color: #eeeeee;
}

.templates:hover .templates-hover {
    display: block;
}

.templates:hover {
    cursor: pointer;
}

.templates-hover p:first-of-type {
    margin-left: -3px;
    margin-bottom: 14px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

    color: #000000;
    text-transform: uppercase;
}

.templates-hover p:last-of-type {
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 31px;
    width: 180px;
    line-height: 18px;
}

.templates-hover .button {
    padding: 16px 61px;
    padding-left: 63px;
}
/*catalog-templates end*/
/*block-of-templates end*/

/*pagination-list end*/
.pagination-list {
    display: flex;
    justify-content: space-between;

    width: 375px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 7px;
    padding: 0;
    padding-left: 7px;

    list-style: none;
}

.pagination-list li:not(:last-of-type) {
    margin-right: 10px;
}

.pagination-list a {
    background-color: #eeeeee;
    padding: 16px 22px;
    color: #000000;
    border-radius: 3px;
}

.pagination-list li:not(:first-of-type) a:hover,
.pagination-list li:not(:first-of-type) a:focus {
    background-color: #dfdfdf;
}

.pagination-list li:not(:first-of-type) a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}

.pagination-item-current a {
    padding: 13px 18px;

    background-color: #ffffff;
    border: 2px solid #dbdbdb;
}

.pagination-list li:last-of-type a {
    padding: 14px 76px;
    padding-right: 78px;
}
/*pagination-list start*/


/*footer-inner start*/
.footer-social-inner {
    margin-top: 420px;
}
/*footer-inner end*/